.prev-arrow {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
}

.next-arrow {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
}

.slider-border {
    border-bottom: 3px solid #145ce6;
}
