*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    color: $color-text;
    font-size: 16px;
    height: 5000px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    outline: 1px solid #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

span {
    display: block;
}

input,
button {
    background: none;
    outline: none;
    border: 0;
}

button {
    cursor: pointer;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}
